:root{
    --blue300:#a5b4fc;
    --blue200: #c7d2fe;
    --blue100: #e0e7ff;
    --white:#eff6ff;
    --font: 'Itim';
    --big: 4rem;
    --medium: 1.5rem;
    --normal: 1rem;
    --small: 0.5rem;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--white);
}
p,
button, 
img{
    padding: 0;
    margin: 0;
}
input:focus,
button:focus{
    outline: 0;
}

/* ///HEADER/// */
header{
    display: flex;
    justify-content: center;
    color: var(--white);
    height: 120px;
    flex:1 0 100%;
    background-color: var(--blue300);
    box-shadow: 0px 5px 20px var(--blue300);
}

.container{
    font-family: var(--font);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--medium);
}

.logo{
    font-size: var(--big);
    cursor: default;
}
.loggedin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_pic{
    background-color: var(--white);
    height: 64px;
    width: 64px;
    border-radius: 32px;
}
.logout{
    background-color: transparent;
    border: 0;
    font-family: var(--font);
    color: var(--white);
    font-size: var(--normal);
    cursor: pointer;
    transition: 0.1s;
}
.login{
    background-color: transparent;
    border: 0;
    font-family: var(--font);
    color: var(--white);
    font-size: var(--medium);
    cursor: pointer;
    transition: 0.1s;
}
.logout:hover,
.login:hover{
    color: var(--blue100);
    transform: scale(1.1);
}

/* ////// */
/* ///MAIN/// */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card_container{
    width: 80%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.add_card_container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr minmax(400px, 600px) 1fr;
}

#card_add{
    grid-area:  1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 1rem;
    background-color: var(--blue100);
    transition: .3s;
}
#card_add:hover{
    transform: scale(1.02);
    background-color: var(--blue200); 
}
#card_add:hover #add_button{
    background-color: var(--blue300);
}
#add_button{
    border: 0;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-color: var(--blue200);
    cursor: pointer;
    color: white;
    font-size: var(--normal);
}
.mybooks_section{
    font-family: var(--font);
    cursor: default;
    color: var(--white);
    width: 80%;
    height: 45px;
    font-size: var(--medium);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--white) 25%, var(--blue300) 40%, var(--blue300) 60%, var(--white) 75%);
}

.card{
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1fr;
    font-family: var(--font);
    color: var(--blue300);
    height: 200px;
    background-color: var(--blue100);
    border-radius: 1rem;
    padding: 1rem;
    transition: .3s;
    cursor: default;
}
.book_info{
    display: flex;
    flex-direction: column;
}
.card:hover{
    color: var(--white);
    background-color: var(--blue200);
    transform: scale(1.01);
    border-radius: 1rem 0 1rem 1rem;
    z-index: 1;
}
.card:hover .book_cover{
    background-color: var(--blue100);
    transform: scale(1.01);
}
.card:hover .card_menu{
    transform: translate(95%);
    background-color: var(--blue200);
}

.title{
    font-size: var(--medium);
}
.status{
    font-size: var(--medium);
    margin-top: auto;
}
.book_cover{
    display: flex;
    justify-self: flex-end;
    border: 0;
    background-color: var(--blue200);
    border-radius: var(--small);
    width: 150px;
    height: 200px;
    object-fit: fill;
}
.card_menu{
    padding: 0.5rem 0;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0%;
    top: 0%;
    background-color: var(--blue100);
    width: 50px;
    border-radius: 0 1rem 1rem 0;
    transition: 0.1s;
    z-index: -1;
}
.icon{
    width: 32px;
    height: 32px;
}
.icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.delete_card, .edit_card{
    background-color: transparent;
    border: none;
}

.add_book_dialog::backdrop{
    background-color: transparent;
}
.add_book_dialog{
    color: var(--blue300);
    font-family: var(--font);
    border-radius: 1rem;
    border: 4px solid var(--blue300);
}
.add_form{
    display: grid;
    grid-template-columns: 100px 50px 50px 100px;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.add_form > p{
    grid-area: 1 / 1 / 2 / 5;
    font-size: var(--big);
}
.title_modal{
    grid-area: 2 / 1 / 3 / 5;
}
.genre_modal{
    grid-area: 4 / 3 / 5 / 5;
}
.author_modal{
    grid-area: 3 / 1 / 4 / 5;
}
.pages_modal{
    grid-area: 4 / 1 / 5 / 3;
}
.status_modal{
    grid-area: 5 / 1 / 6 / 5;
}
.cover_modal{
    grid-area: 6 / 1 / 7 / 5;
}
#add_book_submit{
    grid-area: 7 / 1 / 8 / 3;
}
#add_book_cancel{
    grid-area: 7 / 3 / 8 / 5;
}
.button_modal{
    font-size: var(--medium);
    cursor: pointer;
    font-family: var(--font);
    border-radius: 1rem;
    color: var(--white);
    border: 0;
    padding: 0.5rem;
    background-color: var(--blue300);
}
.button_modal:hover{
    background-color: var(--blue200);
}

input, fieldset{
    font-size: var(--normal);
    font-family: var(--font);
    border-radius: 0.5rem;
    border: 2px solid var(--blue300);
}
#book_cover{
    padding: 0.5rem;
}
/* Utility */
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.spaced_evenlyX{
    justify-content: space-evenly;
}
.disabled{
    display: none;
}


